<h1><%= t('.heading') %></h1>

<%= t('.intro_html') %>


<%= form_for @submission, builder: Dough::Forms::Builders::Validation do |f| %>
  <%= f.validation_summary %>

  <%= f.form_row(:body) do %>
    <%= f.errors_for :body %>

    <%= f.label :body %>
    <%= f.text_area :body %>
  <% end %>

  <%= f.hidden_field :referer %>
  <%= f.submit class: 'button button--primary' %>

<% end %>
