<h1>Help us improve this page</h1>

<p>Only use this form to suggest changes to your account page. We can’t reply to individual ideas.</p>

<p>Need help or advice? Use our contact us page.</p>

<p>What do you like? What don’t you like? What can we add to make it better?</p>

<%= form_for @submission, builder: Dough::Forms::Builders::Validation do |f| %>
  <%= f.validation_summary %>

  <%= f.form_row(:body) do %>
    <%= f.errors_for :body %>

    <%= f.label :body %>
    <%= f.text_area :body %>
  <% end %>

  <%= f.submit %>
<% end %>
